.sectionTitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    columns: #CF0110;
}

.experienceList {
    list-style-image: none;
    list-style: none;
    display: grid;
    gap: 1.3rem;
}

.entryWrapper {
    margin-left: var(--text-margin);
}