.sectionTitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #cecece;
}

.experienceList {
    list-style-image: none;
    list-style: none;
}

.entryWrapper {
    margin-left: var(--text-margin);
}