@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-background {
    background-attachment: fixed;
    backdrop-filter: blur(10px);
}

.glass-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(16, 16, 16, 0.98);
    filter: blur(40px);
    z-index: -1;
}

.chevron-bullet::before {
    content: ">";
    padding-right: 5px;
    color: var(--color-primary);
}

.section-title {
    writing-mode: vertical-rl;
    @apply uppercase;
    @apply text-green-500;
    @apply transform;
    @apply rotate-180;
    @apply text-2xl;
}
